<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/user/register" method="post">
    <input type="text" placeholder="Enter username" name="username" required>
    <input type="text" placeholder="Enter email" name="email" required>
    <input type="text" placeholder="Enter password" name="password" required>
    <button>Submit</button>
</form>    
</body>
</html>